@font-face {
  font-family: Montserrat;
  src: url("media/fonts/Montserrat.ttf");
}
body {
  max-width: 100vw;
  background-color: #302c42;
  color: #fff;
  font-family: Montserrat;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

@media (min-width: 360px) {
  .container {
    overflow-x: hidden;
    padding: 0 5%;
    position: relative;
  }
  .button {
    width: 150px;
    height: 50px;
    background: linear-gradient(to right, #8176af, #c087e8);
    border: none;
    border-radius: 50px;
    color: #343045;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
  }
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(152, 94, 199);
  }
  .round-container {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 50px;
    margin: auto 0;
    background: linear-gradient(to right, #8176af, #c087e8);
    background-clip: padding-box;
    border: 10px solid rgba(14, 14, 14, 0.1960784314);
    border-radius: 50%;
  }
  .round-container__button {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    pointer-events: none;
  }
  .round-container__button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(152, 94, 199);
  }
  .nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 1;
    transition: 0.5s all ease-in-out;
  }
  .nav__menu {
    width: 100%;
    padding: 0;
    list-style: none;
  }
  .nav__li {
    width: 100%;
    padding: 10px 20px;
    background: radial-gradient(circle, rgb(40, 32, 180) 0%, rgb(88, 22, 199) 35%, rgb(0, 93, 255) 100%);
    outline: 1px solid whitesmoke;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease-in-out, border 0.1s ease;
    cursor: pointer;
  }
  .nav__menu-button {
    width: 30px;
    height: 30px;
    background: url("/media/burger.svg") transparent no-repeat;
    border: none;
    transition: 0.5s all ease-in-out;
  }
  .nav__menu-button_rotated {
    transform: rotate(90deg);
  }
  .text-header {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .text-header_big {
    font-size: 25px;
    line-height: 30px;
  }
  .text-header_bold {
    font-weight: 600;
  }
  .text-header_small {
    font-size: 16px;
  }
  .text {
    font-weight: normal;
    line-height: 25px;
    font-size: 12px;
  }
  .invisible {
    visibility: hidden;
    opacity: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .header__logo {
    --logo-size: 100px;
    width: var(--logo-size);
    height: var(--logo-size);
  }
  .header__feedback {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px;
    background: url("media/line-left.svg") no-repeat;
  }
  .hero__item_gradient {
    background: linear-gradient(to right, #c0b7e8, #8176af);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }
  .hero__text {
    display: none;
  }
  .hero__buttons_build {
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(to right, #8176af, #c0b7e8);
    color: #343045;
    text-transform: uppercase;
  }
  .hero__buttons_arrow {
    display: none;
  }
  .hero__logo {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 10px rgba(0, 0, 0, 0.13) solid;
    border-radius: 100px;
    border-bottom-left-radius: 60%;
    -webkit-background-clip: content;
    background-clip: content-box;
    overflow: hidden;
  }
  .hero__image {
    width: 100%;
    height: 100%;
  }
  .hero__lines {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("media/lines-right.svg") no-repeat #302c42;
    background-size: 130%;
    background-position: top;
    z-index: -1;
  }
  .contacts {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px;
    background: linear-gradient(to right, #211e2e, rgba(58, 52, 86, 0.95), #211e2e);
    border: transparent;
    border-radius: 70px;
  }
  .contacts__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .contacts__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 0.5s all ease-in-out;
  }
  .contacts__header {
    display: none;
  }
  .contacts__text {
    line-height: 16px;
    font-size: 14px;
    font-weight: 200;
  }
  .contacts__button {
    width: 30px;
    height: 30px;
    background: url("media/carousel-arrow.svg") transparent no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
  }
  .contacts__button:hover {
    box-shadow: 0 0 10px whitesmoke;
  }
  .contacts__button_right {
    transform: rotate(180deg);
  }
  .contacts__logo {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .contacts__logo_location {
    background-image: url("media/location.svg");
  }
  .contacts__logo_phone {
    background-image: url("media/phone.svg");
  }
  .contacts__logo_mail {
    background-image: url("media/mail.svg");
  }
  .introduction {
    padding-bottom: 50px;
  }
  .introduction__header {
    text-align: center;
    margin-bottom: 20px;
  }
  .introduction__header_arrow {
    background: none;
  }
  .introduction__item {
    display: flex;
    flex-direction: column;
  }
  .introduction__text {
    display: none;
  }
  .about {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: url("media/about_curves.svg") no-repeat;
    background-size: contain;
  }
  .about__logo {
    background: url("media/about_hydra.png") cover no-repeat;
    border-radius: 80px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }
  .about__image {
    width: 100%;
    height: 100%;
  }
  .about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__header {
    display: none;
  }
  .about__button {
    width: 80%;
    margin: 20px 0;
  }
  .cards {
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 25px;
    margin-bottom: 50px;
  }
  .cards__line {
    display: none;
  }
  .cards__button {
    z-index: 1;
  }
  .cards__button_left {
    left: -25px;
    transform: rotate(90deg);
  }
  .cards__button_right {
    right: -25px;
    transform: rotate(-90deg);
  }
  .cards .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 30px 30px;
    background: radial-gradient(#433d60, #211e2e);
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
  }
  .cards .card__header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(192, 183, 232, 0.2);
    font-size: 20px;
  }
  .cards .card__button {
    width: 100%;
  }
  .cards .card__logo {
    width: 200px;
    height: 200px;
    border: rgba(14, 14, 14, 0.1960784314) 10px solid;
    border-radius: 50%;
  }
  .cards .card__image {
    width: 100%;
    height: 100%;
  }
  .tech {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .tech__content {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("media/tech_brand.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -150px;
    border-radius: 150px;
  }
  .tech__headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .tech__header {
    font-size: 15px;
  }
  .tech__companies {
    width: 100%;
    height: 150px;
    padding: 20px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
  }
  .tech__companies-item {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .tech__button {
    z-index: 1;
    bottom: auto;
    top: auto;
  }
  .tech__button_left {
    left: 0;
    transform: rotate(90deg);
  }
  .tech__button_right {
    right: 0;
    transform: rotate(-90deg);
  }
  .tech__round-container {
    display: none;
  }
  .tech__round-button {
    background: url("media/arrow_down.svg") no-repeat;
    background-position: center;
    background-size: 40%;
  }
  .path {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 25px;
    position: relative;
  }
  .path__line {
    display: none;
  }
  .path__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .path__button {
    z-index: 1;
    bottom: -160px;
  }
  .path__button_left {
    left: 0;
    transform: rotate(90deg);
  }
  .path__button_right {
    right: 0;
    transform: rotate(-90deg);
  }
  .path__round-container {
    width: 160px;
    height: 160px;
    position: relative;
    background: linear-gradient(45deg, #8176af, #c0b7e8);
    background-clip: padding-box;
    border: 10px solid rgba(14, 14, 14, 0.1960784314);
    font-size: 30px;
  }
  .path__round-button {
    background: transparent;
  }
  .path__number {
    color: #343045;
    font-size: 64px;
    font-weight: bold;
  }
  .path__text {
    width: 90%;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 70px;
    padding: 50px 25px;
    background: radial-gradient(#403a5f, #211e2e);
    border-radius: 60px;
  }
  .contact-form__header {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  .contact-form__header_small {
    font-weight: 200;
  }
  .contact-form__outline {
    width: 300px;
    height: 1px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #343045, #c0b7e8, #8176af, #343045);
  }
  .contact-form__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
  }
  .contact-form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .contact-form__input {
    width: 100%;
    height: 50px;
    padding-left: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    outline: none;
    caret-color: #fff;
    color: #fff;
  }
  .contact-form__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.596);
    font-family: Montserrat;
  }
  .contact-form__input::placeholder {
    color: rgba(255, 255, 255, 0.596);
    font-family: Montserrat;
  }
  .contact-form__textarea {
    height: 110px;
    padding: 30px 40px;
    border-radius: 40px;
    resize: none;
    overflow: hidden;
  }
  .contact-form__button {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    padding: 20px 0 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .footer__line {
    width: 100%;
    height: 400px;
    background: url("media/footer_curve.svg") no-repeat;
    background-size: contain;
    transform: scale(1.5, 2.5);
    background-position: center;
    position: absolute;
    z-index: 1;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    width: 200px;
    height: 200px;
    background: url("/media/logo.svg");
    background-size: cover;
  }
  .footer__outline {
    background: linear-gradient(to bottom, #343045, #c0b7e8, #8176af, #343045);
  }
  .footer__outline_vertical {
    display: none;
  }
  .footer__outline_horizontal {
    height: 1px;
  }
  .footer__nav {
    display: none;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .footer__header {
    font-size: 20px;
  }
  .footer__social {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
  }
  .footer__social-image {
    width: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .footer__social-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(152, 94, 199);
    border: 1px solid whitesmoke;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    font-size: 15px;
    text-align: center;
  }
  .footer__button {
    width: 100%;
  }
  .footer__divider {
    display: none;
  }
}
@media (min-width: 500px) {
  .container {
    padding: 0 10%;
  }
}
@media (min-width: 550px) {
  .container {
    padding: 0 12%;
  }
}
@media (min-width: 700px) {
  .container {
    padding: 0 20%;
  }
  .hero__lines {
    top: -200px;
  }
}/*# sourceMappingURL=index.css.map */