@font-face {
    font-family: Montserrat;
    src: url("media/Montserrat.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("media/Montserrat-Black.ttf");
    font-weight: 900;
}
body {
    background-color: #302c42;
}

header {

    font-family: Montserrat;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

nav ul{
    width: 40vw; 
    height: 120px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

nav ul li {
    text-transform: uppercase;
}

div.feedback {
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border-radius: 50px;
    background: transparent;
    color: #fff;
    font-family: Montserrat;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

button.contact {
    border: 2px solid #fff;
}

button.join {
    border: transparent;
    color: #343045;
    background: linear-gradient(to right ,#8176af,#c087e8);
}

/* header end */

article {
    margin: auto 50px;
    display: flex;
    justify-content: space-between;
}

div.left {
    background: violet;
    width: 40vw;
}

div.right {
    background: red;
}